<head>
	<title>Barroso Pumps | About Us</title>
</head>
<body>
	<div class="main-wrapper">
		<div class="banner-header about" id="banner-about-us">
			<h3>WHO WE ARE</h3>
		</div>
	</div>
	<div class="about-text">
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			The story of Barroso Pumps started in
			the early 1990’s. Since its humble beginnings,
			Enrique Barroso knew that there was a market for
			construction equipment. Covering the Caribbean and
			Latin America for several construction equipment
			manufacturers presented him with the opportunity
			to start a pump distribution and rental company in
			Puerto Rico.  After several business relationships
			with renowned manufacturers, Barroso Pumps was launched
			with a clear business focus: to offer the best solutions
			in Pumps. Strong ties to suppliers and manufacturers
			and our commitment to offer the best solutions in
			pumping drove us to become in Puerto Rico and in the
			Caribbean, the exclusive distributors of the prestigious
			brand names like Global Pump, Grindex and Cornell Pump.
		<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Barroso Pumps has an extensive inventory at its facility
			in Carolina, P.R., and provides service throughout the
			Island and the Virgin Islands. We work all kinds of pumping
			solutions including solutions for highly-specialized projects
			that would require ordering equipment not available on the
			Island while guaranteeing timely delivery. We are constantly
			updating our inventory of pumps to offer the widest range and
			the best solutions to the needs of our customers. We are proud
			to offer pumps that are not only the best for the job but
			also the most efficient. Either for sale or rent, Barroso
			Pumps offers the best selection of equipment for all pumping
			applications, and the expertise needed to design and implement
			the most efficient solution for your project.</p>
			<h3 class="about-header">Mission</h3>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Through the distribution of the correct products and the use of
				indicated pactices for the moving of water, promote the responsible
				use of our potable water, the necessary treatment for our used water
				and the protection of our bodies of water.
			</p>
	</div>
	<div class="socialmedia">
		<div class="horizontal-divider"></div>
		<h2>Find us on Social Media</h2>
		<div class="socialmedia-icons">
			<a href="https://www.facebook.com/barrosopumps/" target="_blank"><img src="images/icon-facebook.svg"></a>
			<a href="https://pr.linkedin.com/in/enrique-barroso-b21a741b" target="_blank"><img src="images/icon-linkedin.svg"></a>
			<a href="#"><img src="images/icon-youtube.svg"></a>
		</div>
	</div>
<!--FOOTER-->
	<footer>
		<div class="footer-wrapper">
		 <ul class="footer-nav">
			 <li><a href="http://www.barrosopumps.com/about-us.html" id="footer-about">ABOUT US</a></li>
			 <li><a href="http://www.barrosopumps.com/buy.html">BUY</a></li>
			 <li><a href="http://www.barrosopumps.com/rent.html">RENT</a></li>
			 <li><a href="http://www.barrosopumps.com/markets.html">MARKETS</a></li>
			 <li><a href="http://www.barrosopumps.com/contact-us.html">CONTACT US</a></li>
		 </ul>
		 <a href="http://www.barrosopumps.com/privacy-policy.html" id="policy">PRIVACY POLICY</a>
		 <a href="http://www.barrosopumps.com/terms-of-use.html">TERMS OF USE</a>
		 <p id="rights-reserved">&#169; 2017 BARROSO PUMPS. ALL RIGHTS RESERVED</p>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>
