<head>
	<title>Barroso Pumps | Buy</title>
</head>
<body>
<!--BANNER-->
	<div class="main-wrapper">
		<div class="banner-header" id="banner-buy">
			<h3>CHOOSE A BRAND</h3>
		</div>
	</div>
<!--BODY-->
	<div class="button-tab under-banner">
		<div class="button-panel">
			<div class="button-wrapper">
				<a href="tel:+1787-230-2200" onclick="goog_report_conversion ('tel:+1787-230-2200')" type="button" class="btn btn-info call-button">
					<p>787-230-2200</p>
				</a>
			</div>
		</div>
	</div>
	<div class="container content-wrapper">
		<div class="row row-brands">
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/cornell.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/cornell.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/global-pump.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/global.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/goulds.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/goulds.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/grindex.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/grindex.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/grundfos.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/grundfos.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/hydroflo.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/hydroflo.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/karcher.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/karcher.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/keen.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/keen.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/tsurumi.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/tsurumi.png">
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/walrus.html">
					<div class="select">
						<div class="content-img">
							<img src="images/logos/walrus.png">
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="horizontal-divider"></div>
	<a href="http://www.barrosopumps.com/buy/accessories.html">
		<div class="featured-banner"></div>
	</a>
<!--FOOTER-->
 <footer>
		<div class="footer-wrapper">
			<ul class="footer-nav">
				<li><a href="http://www.barrosopumps.com/about-us.html" id="footer-about">ABOUT US</a></li>
				<li><a href="http://www.barrosopumps.com/buy.html">BUY</a></li>
				<li><a href="http://www.barrosopumps.com/rent.html">RENT</a></li>
				<li><a href="http://www.barrosopumps.com/markets.html">MARKETS</a></li>
				<li><a href="http://www.barrosopumps.com/contact-us.html">CONTACT US</a></li>
			</ul>
			<a href="http://www.barrosopumps.com/privacy-policy.html" id="policy">PRIVACY POLICY</a>
			<a href="http://www.barrosopumps.com/terms-of-use.html">TERMS OF USE</a>
			<p id="rights-reserved">&#169; 2017 BARROSO PUMPS. ALL RIGHTS RESERVED</p>
		</div>
	</footer>
</body>