<head>
	<title>Barroso Pumps | Contact Us</title>
</head>
<body>
<!--BODY-->
	<div class="map-wrapper-wrapper">
		<div class="map-wrapper">
			<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1632.572669313825!2d-65.98083783325973!3d18.416000226737122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x781f69d2446d8d0d!2sBarroso+Pumps!5e0!3m2!1sen!2sus!4v1494951753462"></iframe>
		</div>
	</div>
	<div class="contact-us-wrapper">
		<div class="contact-us-wrapper-2">
			<h1>Contact Us</h1>
		</div>
	</div>
	<div class="company-wrapper">
		<div class="company-logo">
			<img src="images/barroso-pumps-logo-header.svg" alt="Logo">
		</div>
		<div class="company-info company-text">
			<p>Number</p>
			<p>Mobile Number</p>
			<p>Email</p>
			<p>Sales Email</p>
		</div>
		<div class="company-info">
			<p><a href="tel:+1787-230-2200" onclick="goog_report_conversion ('tel:+1787-230-2200')">787-230-2200</a></p>
			<p><a href="tel:+1787-399-1555">787-399-1555</a></p>
			<p><a href="mailto:enrique@barrosopumps.com">enrique@barrosopumps.com</a></p>
			<p><a href="mailto:ventas@barrosopumps.com">ventas@barrosopumps.com</a></p>
		</div>
	</div>
	<div class="contact-wrapper">
		<div class="contact-row">
			<section class="sales-dept">
				<h3>Sales Department</h3>
				<p class="bold">Enrique Barroso</p>
				<p><a href="tel:+1787-399-1555">787-399-1555</a></p>
				<p><a href="mailto:enrique@barrosopumps.com">enrique@barrosopumps.com</a></p>
				<p class="bold">Fabiola Irizarry</p>
				<p><a href="tel:+1787-230-2200" onclick="goog_report_conversion ('tel:+1787-230-2200')">787-230-2200</a></p>
				<p><a href="mailto:ventas@barrosopumps.com">ventas@barrosopumps.com</a></p>
			</section>
			<section class="physical-adress">
				<adress>
					<h3>Physical Adress</h3>
					<p>Calle #1 Lote 13-17b</p>
					<p>Sabana Gardens Industrial Park</p>
					<p>Carolina, Puerto Rico 00985</p>
				</adress>
			</section>
		</div>
		<div class="contact-row">
			<section class="numbers">
				<h3>Numbers</h3>
				<p>Office: <a href="tel:+1787-230-2200" onclick="goog_report_conversion ('tel:+1787-230-2200')">787-230-2200</a></p>
				<p>Mobile: <a href="tel:+1787-399-1555">787-399-1555</a></p>
				<p>Email: <a href="mailto:enrique@barrosopumps.com">enrique@barrosopumps.com</a></p>
			</section>
			<section class="mail-adress">
				<h3>Mailing Adress</h3>
				<p>P. O. Box 366895</p>
				<p>San Juan, Puerto Rico 00936</p>
			</section>
		</div>
	</div>
	<div class="socialmedia">
		<h2>Find us on Social Media</h2>
		<div class="socialmedia-icons">
			<a href="https://www.facebook.com/barrosopumps/" target="_blank"><img src="images/icon-facebook.svg"></a>
			<a href="https://pr.linkedin.com/in/enrique-barroso-b21a741b" target="_blank"><img src="images/icon-linkedin.svg"></a>
			<a href="#"><img src="images/icon-youtube.svg"></a>
		</div>
	</div>
<!--FOOTER-->
	<footer>
		<div class="footer-wrapper">
		 <ul class="footer-nav">
			 <li><a href="http://www.barrosopumps.com/about-us.html" id="footer-about">ABOUT US</a></li>
			 <li><a href="http://www.barrosopumps.com/buy.html">BUY</a></li>
			 <li><a href="http://www.barrosopumps.com/rent.html">RENT</a></li>
			 <li><a href="http://www.barrosopumps.com/markets.html">MARKETS</a></li>
			 <li><a href="http://www.barrosopumps.com/contact-us.html">CONTACT US</a></li>
		 </ul>
		 <a href="http://www.barrosopumps.com/privacy-policy.html" id="policy">PRIVACY POLICY</a>
		 <a href="http://www.barrosopumps.com/terms-of-use.html">TERMS OF USE</a>
		 <p id="rights-reserved">&#169; 2017 BARROSO PUMPS. ALL RIGHTS RESERVED</p>
		</div>
	</footer>
</body>
</html>
