<head>
	<title>Barroso Pumps</title>
	<link rel="alternate" hreflang="es" href="http://www.barrosopumps.com/es.html" />
</head>
<body>
<!--MAIN-->
	<div class="main-wrapper">
		<a href="about-us.html">
			<div class="main">
				<div class="container-fluid hero-wrapper">
					<div class="row">
						<div class="col-xs-12">
							<div class="hero-text">
								<h3>We have more to offer than just water pumps</h3>
								<p>It is our mission to meet your specific needs using our expertise so you can finish your job successfully and efficiently. We are your complete pump solution destination!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
<!--BODY-->
	<div class="button-tab">
		<div class="button-panel">
			<div class="button-wrapper">
				<a onclick="goog_report_conversion ('tel:+1787-230-2200')" href="tel:+1787-230-2200" type="button" class="btn btn-info call-button">
					<p>787-230-2200</p>
				</a>
			</div>
		</div>
	</div>
	<div class="container content-wrapper">
		<div class="row preview row-products">
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/grundfos/multistage.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/grundfos/cr-vertical.png">
						</div>
						<div class="content">
							<h2>Multistage</h2>
							<p class="subtitle">CR Vertical</p>
							<p>
								The Grundfos CR vertical, multistage, centrifugal in-line pump family
								works for water supply, water treatment and almost any industrial solution –
								including those for high-pressure, hot, dangerous, flammable and aggressive liquids.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/global-pump/trash-pumps.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/global/standard-trash-pump.png">
						</div>
						<div class="content">
							<h2>Trash Pumps</h2>
							<p class="subtitle">Standard, High Performance</p>
							<p>
								Global Pump Standard Trash pumps are specifically designed to
								effectively handle a wide range of liquids from water and sewage,
								to sludge that can contain solids and other material.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="buy/grundfos/wastewater.html#sl">
					<div class="select">
						<div class="content-img">
							<img src="images/products/grundfos/sl.png">
						</div>
						<div class="content">
							<h2>Wastewater Submersibles</h2>
							<p>
								The SL range has been developed to optimise performance in your system,
								minimising known risk factors and reducing maintenance requirements.
								Remarkably durable, the SL range offers long lasting, service-friendly
								submersible wastewater pumping.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper extra">
				<a href="buy/walrus/household-pumps.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/walrus/household.png">
						</div>
						<div class="content">
							<h2>Household Pumps</h2>
							<p>
								The TQ series pumps are designed for water supply and
								pressure boosting in residential, commercial and light
								industrial applications where low or inadequate water
								pressure exists. It is suitable for boosting pressure from
								underground or surface water supplies.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="return-links view-products">
				<a href="buy.html">VIEW ALL PRODUCTS</a>
			</div>
		</div>
	</div>
	<div class="horizontal-divider"></div>
	<a href="http://www.barrosopumps.com/buy/accessories.html">
		<div class="featured-banner"></div>
	</a>
	<div class="horizontal-divider"></div>
	<div class="buffer"></div>
	<div class="buffer"></div>
	<div class="container content-wrapper market-menu" id="decapitated">
		<div class="row row-markets">
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="markets/agriculture.html">
					<div class="select">
						<div class="content-img">
							<div class="th th-agriculture"></div>
						</div>
						<div class="content">
							<h2>Agriculture</h2>
							<p>Clear liquid centrifugal pumps for agricultural irrigation applications and solids handling with discharge sizes from 1.25 "to 30".</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="markets/potable-water.html">
					<div class="select">
						<div class="content-img">
							<div class="th th-water"></div>
						</div>
						<div class="content">
							<h2>Potable Water</h2>
							<p>Pumps for water supply, pressure systems, Cooling systems, irrigation, water transfer.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="markets/fire-prevention.html">
					<div class="select">
						<div class="content-img">
							<div class="th th-fire"></div>
						</div>
						<div class="content">
							<h2>Fire Prevention</h2>
							<p>Designed to instantaneously supply pressurized water into a fire network. Centrifuges with capacities up to 700 gpm.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper extra">
				<a href="markets/wastewater.html">
					<div class="select">
						<div class="content-img">
							<div class="th th-wastewater"></div>
						</div>
						<div class="content">
							<h2>Wastewater</h2>
							<p>Robust submersible pumps for the pumping of waste water with a high content of solid and fibrous material. Ideal for the following: fecal water, drainage, effluents and wastewater distribution.</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="return-links view-markets">
		<a href="markets.html">VIEW ALL MARKETS</a>
	</div>
	<div class="horizontal-divider-xs"></div>
	<div class="socialmedia">
		<h2>Find us on Social Media</h2>
		<div class="socialmedia-icons">
			<a href="https://www.facebook.com/barrosopumps/" target="_blank"><img src="images/icon-facebook.svg"></a>
			<a href="https://pr.linkedin.com/in/enrique-barroso-b21a741b" target="_blank"><img src="images/icon-linkedin.svg"></a>
			<a href="#"><img src="images/icon-youtube.svg"></a>
		</div>
	</div>
<!--FOOTER-->
	<footer>
		<div class="footer-wrapper">
			<ul class="footer-nav">
				<li><a href="http://www.barrosopumps.com/about-us.html" id="footer-about">ABOUT US</a></li>
				<li><a href="http://www.barrosopumps.com/buy.html">BUY</a></li>
				<li><a href="http://www.barrosopumps.com/rent.html">RENT</a></li>
				<li><a href="http://www.barrosopumps.com/markets.html">MARKETS</a></li>
				<li><a href="http://www.barrosopumps.com/contact-us.html">CONTACT US</a></li>
			</ul>
			<a href="http://www.barrosopumps.com/privacy-policy.html" id="policy">PRIVACY POLICY</a>
			<a href="http://www.barrosopumps.com/terms-of-use.html">TERMS OF USE</a>
			<p id="rights-reserved">&#169; 2017 BARROSO PUMPS. ALL RIGHTS RESERVED</p>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
	<!-- Google Code for Add to Cart Conversion Page
	In your html page, add the snippet and call goog_report_conversion
	when someone clicks on the chosen link or button. -->
	<script type="text/javascript">
	 /* <![CDATA[ */
	goog_snippet_vars = function() {
	  var w = window;
    w.google_conversion_id = 12345678;
	  w.google_conversion_label = "abcDeFGHIJklmN0PQ";
	  w.google_conversion_value = 13.00;
	  w.google_conversion_currency = "USD";
	  w.google_remarketing_only = false;
	}
	// DO NOT CHANGE THE CODE BELOW.
	goog_report_conversion = function(url) {
	  goog_snippet_vars();
	  window.google_conversion_format = "3";
	  var opt = new Object();
	  opt.onload_callback = function() {
	  if (typeof(url) != 'undefined') {
	    window.location = url;
	  }
	}
	var conv_handler = window['google_trackConversion'];
	if (typeof(conv_handler) == 'function') {
	  conv_handler(opt);
	  }
        }
	/* ]]> */
	</script>
	<script type="text/javascript"
	src="//www.googleadservices.com/pagead/conversion_async.js">
	</script>
</body>
