<head>
	<title>Barroso Pumps | Rent</title>
</head>
<body>
<!--BANNER-->
	<div class="main-wrapper">
		<div class="banner-header" id="banner-rent">
			<h3>OUR RENTALS</h3>
		</div>
	</div>
<!--BODY-->
	<div class="button-tab under-banner">
		<div class="button-panel">
			<div class="button-wrapper">
				<a href="tel:+1787-230-2200" onclick="goog_report_conversion ('tel:+1787-230-2200')" type="button" class="btn btn-info call-button">
					<p>787-230-2200</p>
				</a>
			</div>
		</div>
	</div>
	<div class="container content-wrapper titled">
		<h2 class="row-title">Pumps</h2>
		<div class="row preview row-products">
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="rent/diesel-engine-trash-pumps.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/global/standard-trash-pump.png">
						</div>
						<div class="content">
							<h2>Diesel Engine Trash Pumps</h2>
							<p>
								Global Pump Standard Trash pumps are specifically designed to
								effectively handle a wide range of liquids from water and sewage,
								to sludge that can contain solids and other material.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="rent/gas-engine-trash-pumps.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/tsurumi/ept.png">
						</div>
						<div class="content">
							<h2>Gas Engine Trash Pumps</h2>
							<p>
								Maximum durability powered by the best engines available. Tsurumi
								offers a complete remedy to all your pumping needs with a line of engine
								products that save you money. By using only the best engines available,
								we can ensure that parts availability is at your disposal universally.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="rent/submersible-electric-trash-pumps.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/grindex/s8.png">
						</div>
						<div class="content">
							<h2>Submersible Electric Trash Pumps</h2>
							<p>
								Grindex Primo is a range of small, handy and affordable pumps.
								The Primo pumps are
								ideal for construction, industrial and municipal jobs, and the highly
								compact design allows the Primo pumps to operate in dewatering applications
								where others don’t fit.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper extra">
				<a href="rent/gas-engine-drainage-pumps.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/tsurumi/te2.png">
						</div>
						<div class="content">
							<h2>Gas Engine Drainage Pumps</h2>
							<p>
								Maximum durability powered by the best engines available. Tsurumi
								offers a complete remedy to all your pumping needs with a line of engine
								products that save you money. By using only the best engines available,
								we can ensure that parts availability is at your disposal universally.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="return-links view-products">
				<a href="rent/pumps.html">BROWSE PUMPS</a>
			</div>
		</div>
	</div>
	<div class="horizontal-divider"></div>
	<a href="http://www.barrosopumps.com/rent/accessories.html">
		<div class="featured-banner"></div>
	</a>
	<div class="horizontal-divider"></div>
	<div class="buffer"></div>
	<div class="buffer"></div>
	<div class="container content-wrapper" id="decapitated">
		<h2 class="row-title">Equipment</h2>
		<div class="row preview row-products">
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="rent/pressure-washers.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/karcher/mako.png">
						</div>
						<div class="content">
							<h2>Pressure Washers</h2>
							<p>
								Corrosion-resistant and light-weight, Shark's MAKO cold water, aluminum
								pressure washers can be utilized as a cart or a skid for maximum cleaning
								versatility and durability. These reliable Honda powered pressure washers
								offer a bypass loop for additional pump protection.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 select-wrapper">
				<a href="rent/cement-mixers.html">
					<div class="select">
						<div class="content-img">
							<img src="images/products/other/cement.png">
						</div>
						<div class="content">
							<h2>Cement Mixers</h2>
							<p class="subtitle">Sales Price: &dollar;2,800</p>
							<p>
								Due to its features, it is equipment planned for leasing, as its structure is extremely reinforced. Made of a drum with steel plate 2.66 mm thick, electrostatic paint highly resistant to bad weather, rack segmented in 6 parts.
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="return-links view-products">
		<a href="rent/equipment.html">BROWSE EQUIPMENT</a>
	</div>
	<div class="buffer"></div>
<!--FOOTER-->
 <footer>
		<div class="footer-wrapper">
			<ul class="footer-nav">
				<li><a href="http://www.barrosopumps.com/about-us.html" id="footer-about">ABOUT US</a></li>
				<li><a href="http://www.barrosopumps.com/buy.html">BUY</a></li>
				<li><a href="http://www.barrosopumps.com/rent.html">RENT</a></li>
				<li><a href="http://www.barrosopumps.com/markets.html">MARKETS</a></li>
				<li><a href="http://www.barrosopumps.com/contact-us.html">CONTACT US</a></li>
			</ul>
			<a href="http://www.barrosopumps.com/privacy-policy.html" id="policy">PRIVACY POLICY</a>
			<a href="http://www.barrosopumps.com/terms-of-use.html">TERMS OF USE</a>
			<p id="rights-reserved">&#169; 2017 BARROSO PUMPS. ALL RIGHTS RESERVED</p>
		</div>
	</footer>
</body>
</html>
