/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

.has-docked-nav nav.navbar {
  position: fixed;
  top: 0;
}

.top {
  display: none;
}

nav.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px -1px 20px 5px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px -1px 20px 5px rgba(0,0,0,0.18);
  box-shadow: 0px -1px 20px 5px rgba(0,0,0,0.18);
  z-index: 100;
}

.header {
  max-height: 80px;
}

.logo {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 140px;
}

.burger-wrapper {
  display: inline-block;
  float: right;
  width: 50px;
  height: 57px;
  border-left: 1px solid gray;
}

.map {
  display: inline-block;
  font-size: 28px;
  position: absolute;
  top: 12px;
  right: 85px;
}

.burger-menu {
  display: inline-block;
  font-size: 28px;
  margin-top: 12px;
  margin-left: 18px;
}

.map span, .burger-menu span {
  color: gray;
}

.brg-list {
  list-style: none;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.brg-list li {
  font-size: 18px;
  color: gray;
  font-family: Arial, sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-top: solid #ddd 1px;
}

.brg-list a:hover {
  text-decoration: none;
}

.brg-list a:hover li {
  background-color: #eee;
}

div.nav ul li {
  display: none;
  font-family: Arial, sans-serif;
}

div.nav {
  display: none;
}

/*MAIN*/

.main-wrapper {
  padding-top: 57px;
  background-color: #474747;
}

.main {
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.hero-text {
  color: white;
  text-shadow: 0px 0px 60px #000;
  text-align: center;
  width: 360px;
  margin: auto;
}

.hero-text h3 {
  padding-top: 100px;
  margin-bottom: 10px;
  width: 350px;
  font-size: 32px;
}

.hero-text.heroe h3{
  font-size: 28px;
}

.hero-text p {
  width: 350px;
  font-size: 14px;
  line-height: 18px;
}

.banner-header {
  width: 100%;
  background-color: #999;
  background-size: cover;
  background-position: center;
}

.banner-header h3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
  padding: 70px 0px 14px 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
}

.about-header {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.about-text {
  padding: 5px 20px 0px 20px;
  margin: 20px 5px;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content-title {
  margin: 30px 0px 0px 25px;
}

#banner-about-us {
  background-image: url(../images/banner-about-us.jpg);
}

#banner-buy {
  background-image: url(../images/banner-blue.jpg);
}

#banner-rent {
  background-image: url(../images/banner-black.jpg);
}

#banner-markets {
  background-image: url(../images/banner-dark-blue.jpg);
}

/*THUMBNAILS*/

.th {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 160px;
}

.th-agriculture {
  background-image: url(../images/thumbnail-agriculture.png);
}

.th-water {
  background-image: url(../images/thumbnail-water.png);
}

.th-fire {
  background-image: url(../images/thumbnail-fire.png);
}

.th-industrial {
  background-image: url(../images/thumbnail-industrial.jpg);
}

.th-wastewater {
  background-image: url(../images/thumbnail-wastewater.jpg);
}

.th-construction {
  background-image: url(../images/thumbnail-construction.jpg);
}

.th-mining {
  background-image: url(../images/thumbnail-mining.jpg);
}

/*CONTENT*/

.button-tab {
  height: 126px;
  position: absolute;
  top: 300px;
  width: 100%;
}

.button-tab.under-banner {
  top: 118px;
}

.button-panel {
  height: 70px;
  width: 100%;
  background-color: #777;
  margin-top: 57px;
}

.button-wrapper {
  margin: auto;
  width: 198px;
}

.btn-info.call-button {
  border: 0px;
  background-color: #C32026;
  padding: 8px 35px;
  margin-top: 13px;
}

.btn-info.call-button:hover, .btn-info.call-button:active, .btn-info.call-button:focus {
  background-color: #ab081d;
}

.button-tab p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 0px;
  margin-right: 3px;
}

.button-tab .quote-button p {
  color: #666;
}

.content-wrapper {
  margin-top: 110px;
}

#decapitated {
  margin-top: 0px;
}

.titled {
  margin-top: 70px;
}

.row-title {
  margin: 30px 0px 30px 10px;
  color: white;
  background-color: #333;
  display: inline-block;
  padding: 6px 20px;
}

.row .select-wrapper {
  display: inline-block;
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
}

.select {
  width: 100%;
  background-color: #1d3649;
  display: inline-block;
}

.row-products .select {
  background-color: white;
}

.row-brands .select {
  background-color: white;
  width: 200px;
  margin: auto;
  display: block;
}

.content-img img {
  width: 60%;
  margin-left: 18%;
}

.row-brands .content-img img {
  width: 100%;
  margin-left: 0px;
}

.content {
  display: inline-block;
  background-color: #1d3649;
  height: 240px;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.row-products .content {
  background-color: white;
}

.row-brands .content {
  background-color: white;
}

.content h2 {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 22px;
  margin: 10px 25px;
}

.content .subtitle {
  color: #078f4a;
}

.content p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  margin: 0px 25px;
}

.row-products h2, .row-products p {
  color: black;
}

.row-brands h2, .row-brands p {
  color: black;
}

.return-links {
  text-align: center;
  margin-bottom: 30px;
}

.return-links a {
  display: inline-block;
  width: 70%;
  height: 34px;
  padding-top: 4px;
  font-size: 15px;
  margin-bottom: 15px;
  border: 2px solid #337ab7;
  border-radius: 20px;
}

.return-links a:hover {
  text-decoration: none;
  color: white;
  background-color: #337ab7;
}

.return-links a:focus {
  text-decoration: none;
  color: white;
  background-color: #23527c;
  border-color: #23527c;
}

.view-products a {
  color: #C32026;
  border: 2px solid #C32026;
}

.view-products a:hover {
  background-color: #C32026;
}

.view-products a:focus {
  background-color: #C32026;
  border-color: #C32026;
}

.view-markets {
  background-color: #1d3649;
  height: 80px;
  margin-bottom: 0px;
}

.view-markets a {
  color: white;
  border: 2px solid white;
}

.view-markets a:hover {
  color: #1d3649;
  background-color: white;
}

.view-markets a:focus {
  background-color: #1d3649;
  border-color: #1d3649;
}

.buffer {
  height: 10px;
}

.horizontal-divider {
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: #ddd;
}

.horizontal-divider-full {
  height: 1px;
  width: 100%;
  margin: auto;
  background-color: #ddd;
}

.horizontal-divider-xs, .horizontal-divider-sm {
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: #ddd;
  display: none;
}

/*ACCESSORIES*/

.featured-banner {
  background-image: url(../images/accessories.png);
  background-size: cover;
  background-position: center;
  height: 160px;
  margin: 20px 10px;
}

.featured-banner.es-banner {
  background-image: url(../images/accesorios.png);
}

/*SOCIAL*/

.socialmedia {
  width: 100%;
  text-align: center;
}

.socialmedia h2 {
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 30px;
  color: #666;
  margin-top: 30px;
}

.socialmedia-icons {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.socialmedia-icons img {
  margin: 10px 8px;
  width: 48px;
}

/*CONTACT-FOOTER*/

.contactus-footer {
  height: 120px;
  text-align: center;
}

.contactus-footer h2 {
  font-size: 22px;
  margin-top: 35px;
}

.contactus-footer h3 {
  font-size: 22px;
  margin-bottom: 0px;
  color: #666;
}

.contactus-footer a {
  color: #666;
}

/*CONTACT*/

.map-wrapper-wrapper {
  padding-top: 57px;
  background-color: #aaa;
}

.map-wrapper {
  height: 250px;
}

.google-map {
  width: 100%;
  height: 250px;
}

.company-wrapper {
  margin-top: 20px;
}

.contact-us-wrapper-2 {
  margin: auto;
  width: 260px;
}

.contact-us-wrapper h1{
  margin: 60px 0px;
  font-weight: normal;
  font-size: 50px;
}

.company-logo {
  width: 260px;
  margin: auto;
}

.company-logo img {
  width: 260px;
}

.company-info {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 60px;
}

.company-info p {
  font-size: 13px;
}

.company-text {
  margin-right: 10px;
  width: 49%;
}

.company-text p {
  text-align: right;
}

.contact-wrapper {
  padding: 20px 30px 40px 30px;
  background-color: #666;
}

.contact-row section {
  display: block;
  width: 300px;
  text-align: center;
  margin: auto;
}

.contact-row h3 {
  font-size: 22px;
  color: #fff;
}

.contact-row a {
  color: #eee;
}

.contact-row a:hover {
  color: white;;
}

.contact-row p {
  margin: 3px 0px;
  color: #eee;
}

.bold {
  font-weight: bold;
}

/*FOOTER*/

footer {
  background-color: #ddd;
  width: 100%;
  height: 75px;
}

.footer-nav {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  margin-bottom: 5px;
}

footer ul li {
  text-decoration: none;
  float: left;
  margin-top: 8px;
}

footer a {
  font-size: 10px;
  color: #777;
  text-decoration: none;
  padding: 0px 8px 0px 10px;
  margin: 3px 0px;
  display: inline-block;
}

.footer-nav a {
  border-right: 1px solid #aaa;
}

#rights-reserved {
  float: right;
  font-size: 0.5em;
  margin: 8px 8px 0px 0px;
  color: #777;
}

footer a:hover, footer a:focus {
  color: #ccc;
  text-decoration: none;
}

@media (min-width: 600px) {

  body .content-wrapper {
    margin-top: 80px;
  }

  body .banner-header h3 {
    font-size: 36px;
    margin-bottom: 10px;
    margin-left: 50px;
  }

  .about-text p {
    margin: 20px 50px;
  }

  .container .row-title {
    margin-top: 30px;
  }

  .content-img {
    width: 185px;
    height: 185px;
    display: inline-block;
    float: left;
  }

  .content-img .th {
    height: 100%;
  }

  .content-wrapper .content-img img {
    width: 185px;
    float: left;
    margin-left: 0;
  }

  .content-wrapper .content {
    height: 210px;
    width: 67%;
    float: left;
  }

  .market-menu.content-wrapper .content {
    height: 150px;
  }

  .content-wrapper .content h2 {
    margin: 20px 10px 5px 20px;
  }

  .return-links.view-markets {
    background-color: white;
    height: 120px;
  }

  .return-links.view-markets a {
    color: #1d3649;
    border: 2px solid #1d3649;
  }

  .return-links.view-markets a:hover {
    color: white;
    background-color: #1d3649;
  }

  body .horizontal-divider-xs {
    display: block;
  }

  body .socialmedia h2 {
    font-size: 42px;
  }

  .socialmedia .socialmedia-icons img {
    width: 54px;
  }

}

@media (min-width: 768px) {

  .button-tab {
    display: none;
  }

  #top {
    background-color: #414042;
    display: block;
    width: 100%;
    height: 30px;
  }

  .top p, .top a {
    color: #D1D3D4;
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  .top a:hover, .top a:focus {
    color: #D1D3D4;
    text-decoration: none;
  }

  .leftside {
    display: inline-block;
    width: 110px;
  }

  .lang {
    margin-left: 10px;
    margin-top: 5px;
  }

  .caret {
    color: #D1D3D4;
  }

  .lang .langsub {
    min-width: 120px;
    border-radius: 0px;
    background-color: #414042;
    border: 0px;
    margin-top: 5px;
  }

  .lang .langsub li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
  }

  .rightside {
    float: right;
    margin-right: 5px;
  }

  .top .rightside a {
    display: inline-block;
    margin: 5px 10px 5px;
  }

  .quote {
    border-left: solid 1px gray;
  }

  .quote a:hover, .quote a:focus {
    color: gray;
  }

  .top div {
    display: inline-block;
  }

  /*HEADER*/

  body nav.navbar {
    position: absolute;
  }

  div.nav.navbar-nav {
    display: block;
  }

  div.logo {
    width: 200px;
    margin: 10px 0px 10px 0px;
    float: left;
  }

  .header .map {
    display: none;
  }

  .header .burger-wrapper {
    display: none;
  }

  .box {
    display: inline-block;
    height: 80px;
  }

  body div.nav ul li {
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 40px;
  }

  body div.nav.es-nav ul li {
    display: inline-block;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 40px;
  }

  body div.nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
  }

  div.nav ul a div {
    color: #58595B;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 7px solid transparent;
  }

  div.nav.es-nav ul a div {
    color: #58595B;
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 7px solid transparent;
  }

  div.nav ul a .active, div.nav.es-nav ul a .active {
    border-bottom: 7px solid #C32026;
  }

  div.nav ul a:focus div {
    text-decoration: none;
    color: white;
    border-bottom: 7px solid #C32026;
    background-color: #b3b3b3;
  }

  div.nav ul a:hover div {
    text-decoration: none;
    color: white;
    border-bottom: 7px solid #C32026;
    background-color: #b3b3b3;
  }

  div.nav ul a:active div {
    background-color: #707070;
  }

  .dropdown:hover .submenu {
    display: block;
  }

  .submenu {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  #sub-rent {
    min-width: 300px;
  }

  #sub-rent-es {
    min-width: 340px;
  }

  #sub-markets {
    min-width: 180px;
  }

  .nav .submenu .nav-divider {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 0px 0px;
  }

  .submenu h3 {
    padding: 8px 0px 8px 12px;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    color: gray;
  }

  .submenu a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }

  .submenu a:hover {
    background-color: #d9d9d9;
    color: black;
    text-decoration: none;
  }

  .submenu a:focus {
    color: black;
    text-decoration: none;
  }

  .submenu a:active {
    background-color: #909090;
  }

  .ex-dropdown:hover .ex-submenu {
    display: block;
  }

  .ex-dropdown {
    height: 36px;
    width: 140px;
  }

  #sub-markets .ex-dropdown {
    width: 180px;
  }

  .ex-submenu {
    display: none;
    position: relative;
    width: 200px;
    top: -36px;
    background-color: #ccc;
    z-index: 1;
  }

  #sub-buy .ex-submenu {
    left: 140px;
  }

  #sub-markets .ex-submenu {
    left: -200px;
  }

  .ex-dropdown a {
    cursor: pointer;
  }

  .ex-submenu a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }

  .ex-submenu a:hover {
    background-color: #aaa;
    color: black;
    text-decoration: none;
  }

  .glyphicon-menu-right {
    font-size: 12px;
    margin-left: 125px;
  }

  /*MAIN*/

  body .main-wrapper {
    padding-top: 80px;
  }

  div.main {
    height: 350px;
  }

  .main .hero-text {
    margin: 0px 0px;
    width: 100%;
    text-align: left;
  }

  .main .hero-text h3 {
    padding-top: 100px;
    font-size: 42px;
    padding-left: 20px;
    width: 500px;
  }

  .main .hero-text.heroe h3{
    font-size: 39px;
  }

  .main .hero-text p {
    font-size: 20px;
    line-height: 150%;
    padding-left: 20px;
    width: 588px;
  }

  .banner-header.about h3 {
    margin-left: 92px;
  }

  body .about-text {
    margin-bottom: 40px;
  }

  .about-text p {
    margin: 30px 100px;
    font-size: 16px;
    line-height: 40px;
  }

  body .content-title {
    margin-left: 80px;
    margin-top: 50px;
  }

  /*CONTENT*/

  body .content-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px 15px;
  }

  .content-wrapper .row .select-wrapper {
    display: inline-block;
    margin: 15px 0px;
    padding: 0px 8px;
    width: 33.3333%;
    background-color: white;
  }

  .content-wrapper .select-wrapper .select {
    width: 100%;
  }

  .row-products .select {
    border: 1px solid white;
  }

  .row-products .select:hover {
    border: 1px solid #bbb;
  }

  .content-img {
    width: 100%;
    display: block;
    float: none;
  }

  .row-products .content-img {
    height: 232px;
    position: relative;
  }

  .row-brands .content-img {
    height: 100%;
  }

  .row-brands .select .content-img img {
    width: 90%;
  }

  .row-products .select .content-img img {
    float: none;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .content-wrapper .row .content {
    float: none;
    width: 100%;
    height: 310px;
  }

  .content-wrapper .content h2 {
    margin: 15px 10px 5px 10px;
  }

  .content-wrapper .content p {
    margin: 0px 10px;
    line-height: 22px;
  }

  .content-wrapper .select-wrapper.extra {
    width: 100%;
  }

  .select-wrapper.extra .select {
    display: none;
  }

  body .return-links a {
    height: 44px;
    padding-top: 7px;
    width: 316px;
    font-size: 18px;
    margin: 30px 0px;
    border-radius: 24px;
  }

  body .return-links a {
    margin-left: 1%;
    margin-right: 1%;
  }

  body .view-products {
    margin-bottom: 0px;
  }

  body .featured-banner {
    margin: 20px 20px;
  }

  body .horizontal-divider-sm {
    display: block;
  }

  body .socialmedia h2 {
    font-size: 48px;
  }

  .socialmedia .socialmedia-icons {
    margin-bottom: 30px;
  }

  .socialmedia .socialmedia-icons img {
    width: 60px;
  }

  body .contactus-footer {
    height: 175px;
  }

  body .contactus-footer h2 {
    font-size: 38px;
    margin-top: 60px;
  }

  body .contactus-footer h3 {
    font-size: 34px;
    margin-top: 30px;
  }

  /*CONTACT*/

  body .map-wrapper-wrapper {
    padding-top: 80px;
  }

  body .map-wrapper {
    width: 75%;
    margin: auto;
    height: 350px;
  }

  .map-wrapper .google-map {
    width: 100%;
    height: 350px;
  }

  .company-wrapper .company-info {
    width: 48%;
    margin-top: 20px;
  }

  .company-wrapper .company-info p {
    font-size: 16px;
  }

  body .contact-wrapper {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  body .contact-row {
    margin: auto;
    width: 606px;
    display: block;
  }

  .physical-adress {
    position: relative;
    top: -69px;
  }

  .mail-adress {
    position: relative;
    top: -22px;
  }

  body .contact-row section {
    display: inline-block;
    text-align: left;
  }

  .contact-row section h3, .contact-row section p {
    margin-left: 30px;
  }

  /*FOOTER*/

  #footer-about, #policy {
    margin-left: 30px;
  }

  footer #rights-reserved {
    margin-right: 30px;
  }

}

@media (min-width: 992px) {

  #sub-markets .ex-submenu {
    left: 180px;
  }

  .banner-header.about h3 {
    margin-left: 192px;
  }

  .about-text p {
    margin: 30px 200px;
    font-size: 18px;
  }

  .content-wrapper .row .select-wrapper {
    width: 25%;
  }

  .row-products .content-img {
    height: 225px;
  }

  .content-wrapper .content h2, .content-wrapper .content p {
    margin-left: 15px;
  }

  .select-wrapper.extra .select {
    display: inline-block;
  }

}

@media (min-width: 1200px) {

    div.main {
      background-position: left;
      height: 500px;
      width: 80%;
      margin: auto;
    }

    .main .hero-text p {
      font-size: 24px;
      width: 700px;
    }

    .main .hero-text h3 {
      padding-top: 220px;
      font-size: 48px;
      width: 600px;
    }

    body .map-wrapper {
      height: 400px;
    }

    .content-wrapper .row .select-wrapper {
      width: 20%;
    }

    .content-wrapper .row-markets .select-wrapper, .content-wrapper .row.preview .select-wrapper  {
      width: 25%;
    }

    .row-products.preview .content-img {
      height: 275px;
    }

    .content-wrapper .row .content {
      height: 325px;
    }

    .content-wrapper .content p {
      font-size: 15px;
    }

    body .featured-banner {
      height: 200px;
    }

    .map-wrapper .google-map {
      height: 400px;
    }

    body .contact-us-wrapper-2 {
      width: 255px;
    }

    body .contact-us-wrapper h1{
      margin: 80px 0px;
    }

    .company-wrapper .company-logo {
      width: 320px;
    }

    .company-wrapper .company-logo img {
      width: 320px;
    }

    .company-wrapper .company-info {
      margin-bottom: 80px;
    }

    .company-wrapper .company-info p {
      line-height: 2;
    }

}
